.container.part-a{
    display: flex;
    justify-content: center;
}

.title{
    margin-bottom: 24px;
}

.product-container{
    max-width: 1128px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 24px;
}


.product-image{
    aspect-ratio: 436/543;
    width: 552px;
}

.product_price_row{
    display: flex;
    justify-content: space-between;
}

.product-details{
    margin:12px 0;
}

.filter-row{
    display: flex;
    gap: 28px;
    height: auto;
    align-items: center;
}


.button-group{
    display: flex;
    gap: 16px;
}

.categories-text{
    font-family: "Noto Sans TC", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: 0.75rem;
    color: var(--clr-grey-8);
}

button.filter{
    font-family: "Noto Sans TC", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    

    min-width: 58px;
    height: 40px;
    padding: 16px auto;
    font-size: 0.75rem;
    letter-spacing: 2px;
    color: black;
    background-color: white;
    border-radius: 4px;
    border: none;
    border: 1px solid var(--clr-primary-6);
}

button.filter:active{
    color: white;
    background-color: var(--clr-primary-6);
    transition: all 0.2s ease-in-out;
}